version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: bubinga_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: bubingachat
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: